:root {
    --c-primary: #15283a;
    --c-light: #81edf9d8;    
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--c-light);
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px;
    background: var(--c-light);
    max-width: 300px;
    text-align: start;
}

.hero img {
    width: 90vw;
    height: 30vw;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    display: flex;
    flex-flow: column;
    padding: 30px;
    background: var(--c-primary);
}

header div {
display: flex;
align-items: center;
justify-content: space-between;
}

nav {
    width: 35%;
    font-size: 1.5rem;
    padding: 2px;
    background: var(--c-light);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

.about-me {
    display: flex;
    max-height: 400px;
    max-width: 400px;
    padding: 1rem 300px 1rem 1rem;
    border: var(--c-primary) 5px solid;
    margin: .5rem;
}

.my-works {

}

.works {
    padding: 20px;
}

.card-big {
    display: flex;
    max-height: 400px;
    max-width: 90%;
    padding: 1rem 300px 1rem 1rem;
    border: var(--c-primary) 5px solid;
    margin: .5rem;
}

.card-big figure {
    display: flex;
    max-width: 400px;
    max-height: 400px;
}

.card-reg {
    display: flex;
    max-height: 200px;
    max-width: 200px;
    padding: 1rem 300px 1rem 1rem;
    border: var(--c-primary) 5px solid;
    margin: .5rem;
}

.card-reg figure {
    display: flex;
    max-width: 200px;
    max-height: 200px;
}

footer {

}